* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3f8fe;
  
}
ul.date-time {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
section.section-1 {
  padding-top:  5px;
  padding-bottom:  5px;
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(5, 6, 59);
  font-size: 18px;
  align-items: center;
  
}
div.left,
.right,
.mid {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px 0 10px;
}
button {
  background-color: transparent;
  border-color: transparent;
  color: white;
  margin-right: 3px;
  padding: 3px 3px 3px 3px;
  
  
}


button:hover {
  transition: 0.25s;
  color: rgb(27, 172, 194);
}
.login:hover {
  transition: 0.25s;
  color: rgb(255, 255, 255);
}
li {
  padding-left: 10px;
}
.login {
  background-color: rgb(27, 172, 194);
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 10px;
  font-size: 18px;
}
.login:hover {
  box-shadow: 0px 0px 5px #fdfdfd;
}
.form-control {
  border-radius: 20px;
  height: 30px;
  margin: 0 10px 0 10px;
  border: none;
  font-size: 17px;
}
/* section-2 */
section.section-2 {
  display: flex;
  color: rgb(0, 0, 0);
  flex-direction: row;
  justify-items: right;
  align-items: center;
  background-color: white;
  font-size: 16px;
  align-items: center;
}
div.logo {
  margin-left: 30px;
  margin-right: 7px;
}
div.logo2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vl {
  border-left: 3px solid #c3c2c8;
  height: 85px;
}
.gif {
  margin-left: 4px;
  padding-top: 6px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* nav bar */

.navbar {
  background-color: rgb(5, 6, 59);
  box-shadow: 0 5px 10px rgba(0, 0, 0, o.1);
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* add width */
  cursor: default;
  text-align: center;
  justify-content: space-between;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  font-size: 18px;
  display: block;
  color: white;
  padding: 8px 10px;
  margin: 0px 5px;
  font-weight: 500;
  
}
.navbar ul li ul{
  position: absolute;
  width: auto;
  background-color:  rgb(2, 3, 34);
  display: none;

}
.navbar ul li ul li{
  width: 100%;
  border-top: 1px solid white;
  padding-left: 0;
  text-align: left;
}
.navbar ul li ul li a{
  margin-left: 0;
  margin-right: 0;
}

.navbar ul li a:hover {
  background-color: rgb(27, 172, 194);
  color: white;
  

}
  /* .navbar ul li:focus-within > ul, */
.navbar ul li:hover > ul{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
#toggle {
  display: none;
}
#toggle-btn {
  text-align: right;
  display: none;
}
#toggle-btn i {
  font-size: 25px;
  background-color: white;

  padding: 7px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) and (min-width: 10px) {
  section.section-1 {
    font-size: 14px;
  }

  div.left,
  .right,
  .mid {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }

  #toggle-btn {
    display: block;
  }
  .navbar ul {
    display: none;
  }
  #toggle:checked + ul {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .navbar ul li ul{
    position: relative;
    width: fit-content;
    left: 200px;
  }
  

}
/* main body  */

/* Calendar */
.cal-body {
  height: 500px;
  display:flex;
  padding: 30px 120px 30px 120px ;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f3f8fe;
}

.calendar {
  height: max-content;
  width: max-content;
  font-family: cursive;
  background-color: #fdfdfd;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  /* transform: scale(1.25); */
}

.cal-body .calendar {
  box-shadow:rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color:#151426;
  padding: 10px;
}

.calendar-body {
  padding: 10px;
}

.calendar-week-day {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color:#c3c2c8;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: #151426;

}

.calendar-days div {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
  /* border-radius: 50%; */
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div:hover span {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
  width: 2px;
  height: 0;
  background-color: #151426;

}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
  height: 100%;
}

.calendar-days div span:nth-child(1) {
  bottom: 0;
  left: 0;
}

.calendar-days div span:nth-child(3) {
  top: 0;
  right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
  width: 0;
  height: 2px;
  background-color: #151426;

}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
  width: 100%;
}

.calendar-days div span:nth-child(2) {
  top: 0;
  left: 0;
}

.calendar-days div span:nth-child(4) {
  bottom: 0;
  right: 0;
}

.calendar-days div:hover span:nth-child(2) {
  transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
  transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
  transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
  background-color: rgb(5, 6, 59);
  color: #fdfdfd;
  border-radius: 50%;
}

.calendar-days div.curr-date span {
  display: none;
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.month-picker:hover {
  background-color:  #edf0f5;
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
  
}

.year-change:hover {
  background-color:  #edf0f5;
}

.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.month-list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fdfdfd;
  padding: 20px;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  display: grid;
  transform: scale(1.5);
  visibility: hidden;
  pointer-events: none;
}

.month-list.show {
  transform: scale(1);
  visibility: visible;
  pointer-events: visible;
  transition: all 0.2s ease-in-out;
}

.month-list > div {
  display: grid;
  place-items: center;
}

.month-list > div > div {
  width: 100%;
  padding: 5px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: #151426;

}

.month-list > div > div:hover {
  background-color:  #edf0f5;
}

@keyframes to-top {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}
/* director's message */
.dir{
  width: 430px;
  background-color: #fdfdfd;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  height: max-content;
  overflow: hidden;
}
.dir-img{
  margin: 15px 5px 5px 160px;
  
}

.dir-name{
  line-height: 1.2;
    font-size: 22px;
    padding-top: 10px;
    margin-bottom: 7px;
    font-family: 'proxima_nova';
    font-weight: 700;
    color: rgb(5, 6, 59);
    text-transform: none;
    text-align: center;
}
.dir-deg{
  font-style: bold;
  color: #335c92;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
}
.dir-down-row{
  margin-left: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  text-align: justify;
  word-spacing: 2px;
}

/* carousel start */
/* .carousel-part{
  background-color: #f3f3f3;
  margin:10px 10% 10px 10% ;
  width:80%
} */

/* carousel end */

/* vision & mission start */
.vision_mission{
  color: #555;
  background: #f3f8fe;
  text-align: center;
  margin-top: 30px;
  font-family: "Roboto Mono";
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.flip {
  position: relative;
  box-shadow:rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
  border-radius: 10px;
}

h2{
  padding-bottom:10px ;
  color: #555;
}

.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 1s;
  transition-property: transform, opacity;
}
.flip > .front {
  transform: rotateY(0deg);
}
.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.flip:hover > .front {
  transform: rotateY(180deg);
}
.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
.flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
.flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
.flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}

.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 400px;
}
.flip > .front,
.flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}
.flip > .front p,
.flip > .back p {
  font-size: 0.9125rem;
  line-height: 130%;
  color: #999;
}

.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


/* font */
/* @import url("https://fonts.googleapis.com/css?family=Roboto+Mono"); */
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v21/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SeW4Ep0.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v21/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_QOW4Ep0.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v21/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_R-W4Ep0.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v21/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_S-W4Ep0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v21/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SuW4Ep0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v21/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vision & mission end */


