.main {
    margin: 0;
    background-color: #f3f3f3;
}

.fm {
    text-align: center;
    margin: 25px 0 0 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}

.frow {
    display: flex;
    padding: 100px 0 100px 0;
}

.fcol {
    border: 1px solid rgb(45, 13, 206);
    box-shadow: 10px 10px 10px rgba(100, 100, 111, 0.5);
    background-color: rgb(5, 6, 59);
    color: rgb(255, 255, 255);
    flex: 1;
    margin: 20px;
    padding: 10px;
}

.fcol1 {
    background-color: rgb(27, 172, 194);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
}



.fimage {
    height: 160px;
    width: 160px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid rgb(255, 136, 0);

}

.fimage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}